@inherits LayoutComponentBase

<div class="main-container">
    <header>
        <link href="css/site.css" rel="stylesheet" />
    </header>

    <div class="body-content">
        @Body
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - Jordan's AI Chat</p>
    </footer>
</div>